{% extends "base.html" %}
{% block content %}


      <h2> All Student Data</h2>

      <table>
        <tr>
          <th>sr</th>
          <th>Student Name</th>
          <th>Registration No</th>
          <th>Course Name</th>
          <th>Date of Registration</th>
          <th>Duration</th>
          <th>Mobile No</th>
          <th>Email</th>
          <th>Address</th>
        </tr>
           {% for row in result %}
              <tr>
              {% for data in row %}
             
              <td>{{ data }}</td>
              
              {% endfor %}
          </tr>
              {% endfor %}
          
        
        
      </table>
      {% endblock %}
 