{% extends "base.html" %}
{% block content %}

<div style="margin-left:300px;">
    <form action=""  method="POST">
        <div class="panel">
            <div class="formbox-policy"> 
                <h1 align="center">Admin Login</h1> 
                 <div class="row">
                       <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <input  placeholder="user name" type="text" class="form-control" value=""  name="user_name">
                        </div>
                       </div>
                     <div class="col-md-3 col-sm-6">
                         <div class="form-group">
                          <input  placeholder="password" type="password" class="form-control" value="" name="password">
                       </div>
                     </div>
                 </div>
            </div>
    <button class="btn red-btn" type="submit">login
    </button>
    <div class="msg">
        <h4 style=" margin-top:100px;color: rgb(5, 9, 238);" > {{ msg }}</h4>
    </div>
    </form>
            
    </div>
    </div>



{% endblock %}